<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>METAFIT NUTRI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
<key>NSCameraUsageDescription</key>
		<string>METAFIT uses the camera to capture photos of your meals and food. For example, when you take a photo of your lunch, our artificial intelligence automatically identifies the ingredients (such as rice, chicken, vegetables) and calculates the exact nutritional values: calories, proteins, carbohydrates, and fats. This allows you to track your daily diet and achieve your health and fitness goals simply and quickly.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>METAFIT needs access to your photo gallery so you can select images of meals you have previously taken. For example, if you took a photo of your breakfast in the morning, you can select it later from the gallery and our AI will analyze the food in the image, calculating calories and macronutrients (proteins, carbohydrates, and fats) to help you monitor your nutrition.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>METAFIT can save photos of your meal analyses to your device's gallery. This allows you to keep a visual record of your analyzed meals for future reference and tracking of your nutritional progress over time.</string>
</dict>
</plist>
